.App{
  text-align: center;
}

li{
  list-style: none;
}
.chat-message{
  background-color: #f2f2f2;
  margin: 1em 25em;
  padding: 1em;
  max-height: 450px;
 overflow-y: auto;
 border-radius: 20px;
 color: grey;
}

.message-right{
  background: #91fbff;
  border-radius: 25px;
  padding: 0.5em 1em !important;
  margin: 1em;
}
.message-left{
  background-color: aliceblue;
  border-radius: 25px;
  padding: 0.5em 1em !important;
  margin: 1em;
}
.message-text{
  font-size: 17px;
}

.message-icon{
  font-size: 15px;
  margin: 5px;
}